.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  list-style-type: none;
}
.pagination__btn {
  padding: 10px;
  border: none;
  background-color: rgb(57, 57, 233);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
.pagination__btn:hover {
  background-color: #000;
}
